.container .popup{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
}
.fiszka{
    height: 300px;
    width: 200px;
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    backface-visibility: hidden;
    margin: 20px;
}
.powtorz-pole{
    display: flex;
    flex-direction: row;
}
.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
}
